header{
    nav{       

        ul{
            list-style: none;
            display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: left;

            li{
                    color: white;
                    text-decoration: none;
                    font-size: 17px;
                    padding-right: 15px;
                    margin-top: 15px;
                    transition: 300ms ease-in-out;
                    cursor: pointer;
            }

            
            a{
                color: white;
                text-decoration: none;
                font-size: 17px;
                margin-top: 15px;
                transition: 300ms ease-in-out;
                cursor: pointer;
                margin-right: 10px;

        }
    }
 }
}

@media screen and (max-width:520px){
    header{
        nav{
            display: flex;
            align-items: center;
            justify-content: center;

            ul{

                a{
                   
                    padding-right: 15px;
                }
            }
        }
    }
}

@media  screen and (max-width:387px) {

    header{
        nav{
           

            ul{

                
                li{
                   font-size: 15px;
                }
                
                a{
                   
                    font-size: 15px;
                }
            }
        }
    }
    
}

@media  screen and (max-width:363px) {

    header{
        nav{
           

            ul{

                
                li{
                   font-size: 13px;
                }
                
                a{
                   
                    font-size: 13px;
                }
            }
        }
    }
    
}